body{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-item: center;
}

nav{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


p{
    font-size: 100px;
}